<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.film">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/thisistheone_round"
        android:label="12Courier"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".authentication" android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".details" />
        <activity
            android:name=".search"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".popularfilms"
            android:label="Popular Films"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".nowshowingfilms"
            android:label="Now Showing Films"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".upcomingfilms"
            android:label="UpComing Films"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".topratedfilms"
            android:label="Top Rated Films"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WatchList"
            android:label="WatchList"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="12 Courier films">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>